html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Questrial", serif;
    margin: 0;
    background: white;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* CONTACT PAGE */
form {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.contact-section {
    overflow: hidden;
    width: auto;
}

.contact-text-container {
    display: block;
    width: 100%;
    height: auto;
}

.contact-text-container h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.contact-text-container h3 {
    display: block;
    margin-top: 2rem;
    margin-left: 5%;
}

.contact-line {
    border-width: 3px; /* Customize line thickness */
    border-style: solid;
    float: left;
    width: 50%;
    border-color: #D39AA9FF;
    display: block;
    margin-left: 5%;
}

.form-group {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 1rem;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    margin: 0 auto;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-bottom-color: #fd9eb2;
}

textarea#message {
    font-family: Questrial, serif;
    resize: none;
    width: 100%;
    height: 10vh;
}

small.form-text {
    color: #999;
    font-size: 12px;
    font-family: Questrial;
}

button[type="submit"] {
    background: #D39AA9FF;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: lighter;
    font-family: Questrial;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    position: relative;
    margin: 0 auto;
    padding: 8px;
    display: block;
}

#submit {
    color: #fff;
    border: none;
    background: none;
    font-family: Questrial;
    font-weight: normal;
    font-size: 18px;
}


form h4 {
    margin-bottom: 40px;
    font-weight: bold;
}

form h1 {
    margin-bottom: 0;
    font-size: 48px;
}

form span {
    color: red;
    font-weight: lighter;
}

/* END CONTACT PAGE */


/* Mobile devices in portrait and landscape mode */
@media screen and (max-width: 768px) {

    .main {
        flex: 1;
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* HERO IMAGE */
    .hero {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }

    #navbar {
        list-style-type: none;
        overflow: hidden;
        margin: auto;
        height: auto;
        display: block;
        text-align: center;
        padding: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .navbar_item {
        width: auto;
        margin: auto;
        display: inline-block;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    .navbar_item .navbar_link {
        margin: auto;
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-family: "Questrial", sans-serif;
        font-size: 14px;
    }

    .logo {
        width: auto;
        display: block;
        margin: auto;
        margin-bottom: 1rem;

    }

    #logo_link {
        font-family: "Style Script";
        text-decoration: none;
        font-size: 24px;
        color: black;
        display: block;
    }

    /* FOOTER */
    #footer {
        list-style-type: none;
        /* top, right, bottom, left */
        margin-bottom: 0;
        height: auto;
        width: auto;
        text-align: center;
        background: #D39AA9FF;
        padding: 0;

    }

    .logo_link_footer {
        display: inline-block;
        font-family: "Style Script";
        text-decoration: none;
        font-size: 24px;
        color: white;
        width: auto;
        margin-top: 1rem;
    }

    .footer_item {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 24px;
    }

    /* END FOOTER */
    /* ICONS */
    .fa {
        padding: 8px;
        width: auto;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 100%;

    }

    .fa-instagram {
        background: none;
        display: inline-block;
        color: white;
    }

    /* END ICONS */
    /* CONTACT SECTION */
    .contact-text-container h1 {
        font-size: 36px;
        width: auto;
    }

    .contact-section h3 {
        display: block;
        width: 100%;
        margin: 0;
        text-align: left;
        float: left;
        margin-bottom: 2rem;
        font-size: 16px;
    }

    .contact-line {
        border-width: 2px; /* Customize line thickness */
        border-style: solid;
        width: 33%;
        margin: 0;
        margin-bottom: 1rem;
        border-color: #D39AA9FF;
        display: block;
    }

    /* END CONTACT SECTION */
    /* HOME SECTIONS */
    .home-section {
        text-align: center;
        margin-bottom: 1rem;
    }

    .home-section-text, .home-section-text2 {
        margin-bottom: 1rem;
    }

    .call-to-action {
        border: none;
        text-align: center;
        font-family: "Questrial", sans-serif;
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
        border-radius: 6px;
        padding: 8px 0 8px 0;
        position: relative;
        display: inline-block;
        width: 30%;
        color: white;
        background: #D39AA9FF;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }

    .besitos-promise-section {
        text-align: center;
        background: #60555D;
        color: white;
        padding: 1rem;
    }

    .how-it-works-step {
        background-color: #D39AA9FF;
        width: 75px;
        height: 75px;
        border-radius: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: white;
    }

    .how-it-works-step h1 {
        font-size: 32px;
    }

    .how-it-works h1 {
        font-size: 32px;
    }

    .how-it-works-step-container {
        margin-bottom: 2rem;
    }

    /* END HOME SECTIONS */

}

@media screen and (min-width: 769px) and (max-width: 1919px) {
    .main {
        flex: 1;
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* HERO IMAGE */
    .hero {
        padding-top: 5%;
        padding-bottom: 5%;
        height: 250px;
        text-align: center;
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/besitosSite_HeroIMG.jpg");
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 3rem;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero h1 {
        text-align: center;
        color: white;
        font-family: "Questrial", sans-serif;
        font-weight: bolder;
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero h3 {
        text-align: center;
        color: white;
        font-size: 24px;
        margin: 0;
        font-family: Questrial, sans-serif;
        font-weight: lighter;
    }

    .hero-button {
        border: none;
        font-family: "Questrial", sans-serif;
        text-decoration: none;
        font-size: 14px;
        border-radius: 6px;
        margin-top: 20px;
        padding: 8px 0 8px 0;
        position: relative;
        display: inline-block;
        width: 10%;
        color: black;
        background: white;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }

    /* END HERO IMAGE */
    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .img-div, .img-div2, .img-div3 {
        width: 45%;
        display: inline-block;
    }

    #navbar {
        list-style-type: none;
        overflow: hidden;
        margin: auto;
        height: auto;
        display: block;
        text-align: center;
        padding: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .navbar_item {
        width: auto;
        margin: auto;
        display: inline-block;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    .navbar_item .navbar_link {
        margin: auto;
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-family: "Questrial", sans-serif;
        font-size: 18px;
    }

    .logo {
        width: auto;
        display: block;
        margin: auto;
        margin-bottom: 1rem;

    }

    #logo_link {
        font-family: "Style Script";
        text-decoration: none;
        font-size: 32px;
        color: black;
        display: block;
    }

    /* FOOTER */
    #footer {
        list-style-type: none;
        /* top, right, bottom, left */
        margin-bottom: 0;
        height: auto;
        width: auto;
        text-align: center;
        background: #D39AA9FF;
        padding: 0;

    }

    .logo_link_footer {
        display: inline-block;
        font-family: "Style Script";
        text-decoration: none;
        font-size: 24px;
        color: white;
        width: auto;
        margin-top: 1rem;
    }

    .footer_item {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 24px;
    }

    /* END FOOTER */
    /* ICONS */
    .fa {
        padding: 8px;
        width: auto;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 100%;

    }

    .fa-instagram {
        background: none;
        display: inline-block;
        color: white;
    }

    /* END ICONS */

    /* HOME SECTIONS */
    .home-section-text {
        display: inline-block;
        width: 45%;
        height: 100%;
        text-align: center;
        margin-left: 2rem;
    }

    .home-section-text h1, .home-section-text2 h1 {
        font-size: 24px;
    }

    .home-section-text p, .home-section-text2 p {
        font-size: 18px;
    }

    .home-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .home-section-text2 {
        display: inline-block;
        width: 50%;
        height: 100%;
        text-align: center;
        margin-right: 2rem;
    }

    .call-to-action {
        border: none;
        text-align: center;
        font-family: "Questrial", sans-serif;
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
        border-radius: 6px;
        margin-top: 20px;
        padding: 8px 0 8px 0;
        position: relative;
        display: inline-block;
        width: 30%;
        color: white;
        background: #D39AA9FF;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }

    .besitos-promise-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #60555D;
        color: white;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .besitos-promise-section h1 {
        margin: 0 auto;
        font-size: 24px;
    }

    .besitos-promise-section p {
        font-size: 18px;
    }

    .how-it-works {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .how-it-works h1 {
        font-size: 24px;
    }

    .how-it-works-step-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .how-it-works-step {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background: #fd9eb2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .how-it-works-step h1 {
        font-size: 48px;
        color: white;
    }
    /* END HOME SECTIONS */

    /* CONTACT SECTION */
    .contact-text-container h1 {
        font-size: 36px;
        width: auto;
    }

    .contact-section h3 {
        display: block;
        width: 100%;
        margin: 0;
        text-align: left;
        float: left;
        margin-bottom: 2rem;
        font-size: 16px;
    }

    .contact-line {
        border-width: 2px; /* Customize line thickness */
        border-style: solid;
        width: 33%;
        margin: 0;
        margin-bottom: 1rem;
        border-color: #D39AA9FF;
        display: block;
    }

    /* END CONTACT SECTION */
}

/* Large desktops and high-resolution displays */
@media screen and (min-width: 1920px) {

    .main {
        flex: 1;
    }

    /* NAVBAR STUFF*/
    #navbar_item, .besitos_icon {
        display: none;
    }

    #navbar {
        list-style-type: none;
        overflow: hidden;
        margin: auto;
        padding-top: 1rem;
        height: auto;
        display: block;
        text-align: center;
        padding-bottom: 2rem;
        top: 0;
    }

    .navbar_item {
        width: auto;
        margin: auto;
        display: inline-block;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    .navbar_item .navbar_link {
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-family: "Questrial", sans-serif;
        font-size: 18px;
    }

    .logo {
        width: auto;
        display: block;
        margin: auto;
        margin-bottom: 1rem;

    }

    #logo_link {
        font-family: "Style Script";
        text-decoration: none;
        font-size: 48px;
        color: black;
        display: block;
    }

    /* END NAVBAR STUFF */
    /* FOOTER */
    #footer {
        list-style-type: none;
        /* top, right, bottom, left */
        margin-left: 16rem;
        margin-right: 16rem;
        margin-bottom: 0;
        height: auto;
        width: auto;
        text-align: center;
        background: #D39AA9FF;

    }

    .logo_link_footer {
        display: inline-block;
        font-family: "Style Script";
        text-decoration: none;
        font-size: 2vw;
        color: white;
        width: auto;
        margin-top: 1rem;
    }

    .footer_item {
        display: inline-block;
        margin-left: 12px;
        font-family: FontAwesome;
        font-size: 24px;
    }

    /* END FOOTER */
    /* ICONS */
    .fa {
        padding: 8px;
        width: auto;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 100%;

    }

    .fa-instagram {
        background: none;
        display: inline-block;
        color: white;
    }

    /* END ICONS */
    /* HERO IMAGE */
    .hero {
        padding-top: 5%;
        padding-bottom: 5%;
        height: 250px;
        text-align: center;
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/besitosSite_HeroIMG.jpg");
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 6rem;
        width: auto;
        margin-left: 16rem;
        margin-right: 16rem;
    }

    .hero h1 {
        text-align: center;
        color: white;
        font-family: "Questrial", sans-serif;
        font-weight: bolder;
        font-size: 64px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero h3 {
        text-align: center;
        color: white;
        font-size: 36px;
        margin: 0;
        font-family: Questrial, sans-serif;
        font-weight: lighter;
    }

    .hero-button {
        border: none;
        font-family: "Questrial", sans-serif;
        text-decoration: none;
        font-size: 1vw;
        border-radius: 6px;
        margin-top: 20px;
        padding: 8px 0 8px 0;
        position: relative;
        display: inline-block;
        width: 10%;
        color: black;
        background: white;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }

    /* END HERO IMAGE */
    /* HOME PAGE SECTIONS */
    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .img-div {
        display: inline-block;
        width: 45%;
        height: auto;
        border-radius: 10px;
    }

    .img-div2 {
        display: inline-block;
        width: 35%;
        height: auto;
        border-radius: 10px;
    }

    .img-div3 {
        display: inline-block;
        width: 35%;
        height: auto;
        border-radius: 10px;
    }

    .home-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 6rem;
        margin-left: 16rem;
        margin-right: 16rem;
    }

    .home-section-text {
        text-align: left;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin-left: 6rem;
    }

    .home-section-text2 {
        text-align: left;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin-right: 6rem;
    }

    .home-section-text h1, .home-section-text2 h1 {
        font-size: 36px;
        font-weight: bolder;
        margin-bottom: 0;
    }

    .home-section-text p, .home-section-text2 p {
        font-size: 20px;
    }

    .besitos-promise-section {
        background: #60555D;
        color: white;
        text-align: center;
        padding: 2rem;
        width: auto;
        height: auto;
        margin-bottom: 6rem;
        margin-left: 16rem;
        margin-right: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .besitos-promise-section h1 {
        font-size: 36px;
    }

    .besitos-promise-section p {
        font-size: 24px;
        width: 60%

    }

    .call-to-action {
        border: none;
        text-align: center;
        font-family: "Questrial", sans-serif;
        text-decoration: none;
        font-size: 1vw;
        font-weight: normal;
        border-radius: 6px;
        margin-top: 20px;
        margin-left: 30%;
        padding: 8px 0 8px 0;
        position: relative;
        display: inline-block;
        width: 30%;
        color: white;
        background: #D39AA9FF;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }

    .how-it-works {
        text-align: center;
        width: auto;
    }

    .how-it-works h1 {
        font-size: 2vw;
    }

    .how-it-works-step {
        background-color: #D39AA9FF;
        display: inline-block;
        width: 5vw;
        height: 5vw;
        border-radius: 100px;
        text-align: center;
    }

    .how-it-works-step-container {
        width: 150px;
        display: inline-block;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .how-it-works-step h1 {
        margin-top: 33%;
        color: white;
        font-size: 2vw;
    }

    /* END HOME PAGE SECTIONS */
    /* ABOUT PAGE */
    .about-section {
        margin: 2rem 12vw;
        text-align: center;
        padding-top: 3rem;
        color: #363536;
        overflow: hidden;
    }

    .statement {
        font-size: 24px;
        margin-left: 16rem;
        margin-right: 16rem;
        font-weight: lighter;
    }

    .about-section h1 {
        font-size: 48px;
        display: inline-block;
        text-align: left;
        position: relative;
        animation: slideIn 1s ease;
    }

    .about-section h1 span {
        color: #999DFF;
    }

    .about-image {
        background-image: url('../images/monicaBesitosOwner.jpg');
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 300px;
        margin: 2rem auto;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(246, 154, 188, 0.5); /* dropshadow with a pinkish hue */
        animation: fadeIn 1s ease;
    }

    @keyframes slideIn {
        from {
            left: -150px;
            top: -150px;
        }
        to {
            left: 0;
            top: 0;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    /* END ABOUT PAGE */
    /* CONTACT PAGE */
    .form-group {
        width: 50%;
    }

    .contact-section {
        margin-left: 16rem;
        margin-right: 16rem;
    }

    .contact-section h3 {
        margin-bottom: 2rem;
    }

    .contact-text-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .contact-text-container h1 {
    }

    .contact-text-container h3 {
    }

    .contact-line {
        border-width: 2px; /* Customize line thickness */
        border-style: solid;
        width: 15%;
        border-color: #D39AA9FF;
        display: block;
        margin: 0;
    }

    label {
        font-size: 16px;
        font-weight: bold;
        color: #555;
        margin-bottom: 5px;
        display: block;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        border: none;
        border-bottom: 2px solid #ddd;
        padding: 10px;
        font-size: 16px;
        width: 100%;
        background-color: transparent;
        transition: all 0.3s;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        outline: none;
        border-bottom-color: #fd9eb2;
    }

    textarea#message {
        font-family: Questrial, serif;
        resize: none;
        width: 100%;
        height: 10vh;
    }

    small.form-text {
        color: #999;
        font-size: 12px;
        font-family: Questrial;
    }

    button[type="submit"] {
        background: #D39AA9FF;
        color: #fff;
        border: none;
        font-size: 16px;
        font-weight: lighter;
        font-family: Questrial;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        margin: 10px auto 0;
        padding: .5em;
        width: 120px;
    }

    #submit {
        color: #fff;
        border: none;
        background: none;
        font-family: Questrial;
        font-weight: normal;
        font-size: 18px;
        padding: 4px;
    }

    form h4 {
        margin-bottom: 40px;
        font-weight: bold;
    }

    form h1 {
        margin-bottom: 0;
        font-size: 48px;
    }

    form span {
        color: red;
        font-weight: lighter;
    }

    /* END CONTACT PAGE */
    /* FORM SUBMITTED PAGE */
    .submitted-msg {
        margin-left: 9rem;
        margin-right: 9rem;
    }
}
