body {
    margin: 0;
    font-family: "Questrial";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FFF2F1;
}

/* NAVBAR STUFF*/
#navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
}

.navbar_item {
    float: right;
    background-color: #E5C3D1;
    margin-right: 1rem;
    margin-top: 2.25rem;
    padding: 8px 0 8px 0;
    border-radius: 6px;
    text-align: center;
    width: 6%;
}

.navbar_item .navbar_link {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: .85vw;
}

#logo {
    float: left;
}

#logo_link {
    display: block;
    margin: 1rem 1rem 1rem 3rem;
    font-family: "Sacramento", serif;
    text-decoration: none;
    font-size: 2.75vw;
    color: black;
}

/* END NAVBAR STUFF */

/* FOOTER */
#footer {
    list-style-type: none;
    overflow: hidden;
    /* top, right, bottom, left */
    margin: auto 0 0;
    padding: 3px;
    height: auto;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgb(255, 202, 212);
}

.footer_item {
    display: block;
    float: left;
    margin-left: 12px;
    font-family: FontAwesome;
    font-size: 24px;
}

/* END FOOTER */

/* ICONS */

.fa {
    padding: 8px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;

}

.fa-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: white;

}

/* END ICONS */

/* HERO IMAGE */
.hero {
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    text-align: center;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/besitosSite_HeroIMG.png");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
    width: 100%;
}

.hero h1 {
    text-align: center;
    color: white;
    font-family: "Staatliches", sans-serif;
    font-weight: lighter;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 0;
}

.hero h3 {
    text-align: center;
    color: white;
    font-size: 2vw;
    margin: 0;
    font-family: Questrial, sans-serif;
    font-weight: lighter;
}

.hero-button {
    border: none;
    font-family: "Questrial", sans-serif;
    text-decoration: none;
    font-size: 1vw;
    border-radius: 6px;
    margin-top: 20px;
    padding: 8px 0 8px 0;
    position: relative;
    display: inline-block;
    width: 10%;
    color: black;
    background: white;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

/* END HERO IMAGE */

/* HOME PAGE SECTIONS */

img {
    width: 100%;
    height: auto;
}

.img-div {
    display: inline-block;
    width: 45%;
    height: auto;
    margin-right: 9rem;
}

.home-section {
    margin-bottom: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.home-section-text {
    text-align: left;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.home-section-text h1 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 0;
}

.home-section-text p {
    font-size: 20px;
}

.besitos-promise-section {
    background: #60555D;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
}

.besitos-promise-section h1 {
    font-size: 36px;
}

.besitos-promise-section p{
    font-size: 24px;
    width: 40%;
    margin: 0 auto;
}

.call-to-action {
    border: none;
    text-align: center;
    font-family: "Questrial", sans-serif;
    text-decoration: none;
    font-size: 1vw;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 30%;
    padding: 8px 0 8px 0;
    position: relative;
    display: inline-block;
    width: 30%;
    color: white;
    background: #9392C7;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

/* END HOME PAGE SECTIONS */

.about-section {
    margin: 2rem 12vw;
    text-align: center;
    padding-top: 3rem;
    color: #363536;
    overflow: hidden;
}

.statement {
    font-size: 24px;
    text-align: left;
    position: relative;
    padding: 1rem;
    margin-left: 12vw;
    margin-right: 12vw;
    font-weight: lighter;
}

.about-section h1 {
    font-size: 48px;
    display: inline-block;
    text-align: left;
    position: relative;
    animation: slideIn 1s ease;
}

.about-section h1 span {
    color: #999DFF;
}

.about-image {
    background-image: url('../images/monicaBesitosOwner.jpg');
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 2rem auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(246, 154, 188, 0.5); /* dropshadow with a pinkish hue */
    animation: fadeIn 1s ease;
}

@keyframes slideIn {
    from {
        left: -150px;
        top: -150px;
    }
    to {
        left: 0;
        top: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 4rem auto 5rem; /* T, L, R, B */
    border-radius: 20px;
    padding: 0 50px 50px;
    box-shadow: 0px 0px 10px rgba(246, 154, 188, 0.5); /* dropshadow with a pinkish hue */
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-bottom-color: #fd9eb2;
}

textarea#message {
    font-family: Questrial, serif;
    resize: none;
    height: 250px;
}

small.form-text {
    color: #999;
    font-size: 12px;
    font-family: Questrial;
}

button[type="submit"] {
    background: #fd9eb2;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: lighter;
    font-family: Questrial;
    border-radius: 100px;
    cursor: pointer;
    width: 150px;
    position: relative;
    margin: 10px auto 0;
    padding: .5em;
}

#submit {
    color: #fff;
    border: none;
    background: none;
    font-family: Questrial;
    font-weight: normal;
    font-size: 18px;
    padding: 4px;
}

form h4 {
    margin-bottom: 40px;
    font-weight: bold;
}

form h1 {
    margin-bottom: 0;
    font-size: 48px;
}

form span {
    color: red;
    font-weight: lighter;
}