{% extends "index.html" %}
{% block content %}
    <div class="statement">
        <p>Greetings,</p>

        <p>I am Monica Alvarez, the proprietor and founder of Besitos Personalized Gift Shop. The establishment of this
            gift
            shop marks the realization of a long-held dream. At Besitos, our commitment extends beyond crafting
            heartwarming
            and meaningful gifts for various occasions; we also aspire to empower women through each meticulously
            crafted
            creation. I am pleased to convey that Besitos Gift Shop stands as an inclusive and diverse sanctuary for all
            who
            choose to patronize us. It is truly a pleasure to make your acquaintance, and I sincerely hope that your
            experience with Besitos inspires you to craft something beautiful for a cherished one.</p>

        <p>Kind regards,</p>
        <p>Monica Alvarez</p>
    </div>


{% endblock %}