{% extends "index.html" %}
{% block content %}
    <section class="about-section">

        <h1> lovely to meet you, I'm <span style="color: #999DFFFF;">Monica</span></h1>

        <div class="about-image"></div>

    </section>
    <p class="statement"> Hey there! I'm Monica Alvarez, owner and founder of Besitos Personalized Gift Shop! Making this gift shop was
        a dream come true! At Besitos, we strive to not only create heart-warming, meaningful gifts and presents for
        any occasion but to empower women with each and every craft! I want you all to know that Besitos Gift Shop is a
        welcoming and diverse safe haven for all those who shop with us! It is lovely to meet you, and I hope you are
        inspired to create something beautiful for a loved one! XOXO Monica</p>
{% endblock %}