{% extends "index.html" %}
{% block content %}



    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class='flashes'>
                {% for message in messages %}
                    <li class="flash flash-{{ message[1] }}">{{ message[0] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="contact-section">


        <div class="contact-text-container">
            <h1>Contact Us</h1>
            <hr class="contact-line">

        </div>

        <h3>(980)-443-0214</h3>

        <form method="post" action="{{ url_for('contact') }}" novalidate>


            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.subject.label(class="form-control-label") }}
                {% if form.subject.errors %}
                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.subject.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.subject(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.message.label(class="form-control-label") }}
                {% if form.message.errors %}
                    {{ form.message(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <button type='submit' class="btn">{{ form.submit }}</button>
        </form>
    </div>

{% endblock %}