{% extends "index.html" %}
{% block content %}

    <div style="position: relative; width: 100%; height: 0; padding-top: 30.0000%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
        <iframe loading="lazy"
                style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFx10NBrtQ&#x2F;view?embed"
                allowfullscreen="allowfullscreen" allow="fullscreen">
        </iframe>
    </div>


    <div class="hero">
        <div>
            <h1>LOVE IN EVERY THOUGHTFUL DETAIL </h1>
            <h3>Create Thoughtful Moments with Besitos Personalized Gifts</h3>

            <a class="hero-button" href="/contact">Get Started</a>

        </div>

    </div>

    <section>
        <div class="home-section">

            <div class="img-div">
                <img src="../static/images/flowers.jpg" alt="image error">
            </div>

            <div class="home-section-text">
                <h1> Handcrafted Floral Artistry for Every Occasion</h1>

                <p>At Besitos Gift Shop, we blend the timeless elegance of real flowers with the versatility of lifelike
                    silk
                    flowers to create captivating floral masterpieces that will leave a lasting impression. Whether
                    you're
                    celebrating a special occasion, expressing love and admiration, or simply adding a touch of nature's
                    splendor to your space, our skilled artisans meticulously craft each arrangement with passion and
                    precision.
                    Discover the perfect blend of nature's wonders and artistic craftsmanship at Besitos Gift Shop
                    today.</p>

                <a class="call-to-action" href="/contact">Get Started</a>
            </div>
        </div>
    </section>

    <section class="besitos-promise-section">
        <h1>Besitos' Promise</h1>

        <p>At Besitos Gift Shop, our commitment to exceptional customer service and our passion for creating
            meaningful gifts guide us through each step of the process. We strive to make your experience with us
            delightful, ensuring that every detail of your custom gift reflects your unique sentiments and brings
            joy to both you and your recipient.</p>

        <i class="fa-solid fa-arrow-down fa-lg" style="padding-top: 2%; padding-bottom: 1%;"></i>
        <p style="font-size: 16px;"> How it Works</p>

    </section>

    <section>
        <div class="home-section">
            <div class="home-section-text2">
                <h1>Express Your Style: Custom Shirts, Hoodies, and Hats</h1>

                <p>At Besitos Gift Shop, we believe that fashion is an extension of your unique personality, and our
                    customizable apparel allows you to showcase your individuality with flair. Whether you're looking to
                    make a fashion statement, commemorate a special occasion, or create personalized gifts for loved
                    ones, our custom shirts, hoodies, and hats are designed to empower you to express yourself with
                    confidence.</p>

                <a class="call-to-action" href="/contact">Get Started</a>

            </div>

            <div class="img-div2">
                <img src="../static/images/shirtPress.jpg" alt="image error">
            </div>
        </div>
    </section>

    <section>
        <div class="home-section">
            <div class="how-it-works">
                <h1>How it Works</h1>
                <div class="how-it-works-step-container">
                    <div class="how-it-works-step">
                        <h1>1</h1>
                    </div>

                    <h3>Consultation and Cost Evaluation</h3>
                </div>

                <div class="how-it-works-step-container">
                    <div class="how-it-works-step">
                        <h1>2</h1>
                    </div>

                    <h3>Design and Approval</h3>
                </div>

                <div class="how-it-works-step-container">
                    <div class="how-it-works-step">
                        <h1>3</h1>
                    </div>

                    <h3>Delivery of Your Finalized Gift</h3>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="home-section">

            <div class="img-div3">
                <img src="../static/images/mug.jpeg" alt="image error">
            </div>

            <div class="home-section-text">
                <h1> Drink in Style: Custom Mugs, Tumblers, and Water Bottles Tailored to You</h1>

                <p>Elevate your sipping experience with our custom mugs, tumblers, and water bottles. Whether you're
                    starting your day with a steaming cup of coffee, staying hydrated on the go, or enjoying a
                    refreshing drink, our personalized drinkware adds a touch of style and personality to every sip.
                    With our wide range of design options, you can create a unique and meaningful piece that reflects
                    your individuality.</p>

                <a class="call-to-action" href="/contact">Get Started</a>
            </div>
        </div>
    </section>

{% endblock %}