{% extends "index.html" %}
{% block content %}
    <div class="hero">
        <div>
            <h1>EXPRESS YOUR THOUGHTS AND FEELINGS</h1>
            <h3>with a personalized gift.</h3>

            <a class="hero-button" href="/contact">Get Started</a>

        </div>

    </div>


    <h1 class="big-header">At Besitos Personalized Gift Shop we specialize in a multitude of gifts including:</h1>

    <h1 class="category">Flower Arrangements</h1>
    <section class="cards-container">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </section>

    <h1 class="category">Custom T-shirts and Hoodies (Vinyl & Sublimation)</h1>
    <section class="cards-container">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </section>

    <h1 class="category">Hats</h1>
    <section class="cards-container">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </section>

    <h1 class="category">Keychains and Other Accessories</h1>
    <section class="cards-container">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </section>

    <h1 class="big-footer">And So Much More! Contact Us Today to Get Started with your Personalized Gift!</h1>

{% endblock %}