{% extends "index.html" %}
{% block content %}
    <div class="hero">
        <div>
            <h1>EXPRESS YOUR THOUGHTS AND FEELINGS</h1>
            <h3>with a personalized gift.</h3>

            <a class="hero-button" href="/contact">Get Started</a>

        </div>

    </div>

    <section>

        <div class="home-section">

            <div class="img-div">
                <img src="../static/images/flowers.jpg" alt="image error">
            </div>

            <div class="home-section-text">
                <h1> Handcrafted Floral Artistry for Every Occasion</h1>

                <p>At Besitos Gift Shop, we blend the timeless elegance of real flowers with the versatility of lifelike
                    silk
                    flowers to create captivating floral masterpieces that will leave a lasting impression. Whether
                    you're
                    celebrating a special occasion, expressing love and admiration, or simply adding a touch of nature's
                    splendor to your space, our skilled artisans meticulously craft each arrangement with passion and
                    precision.
                    Discover the perfect blend of nature's wonders and artistic craftsmanship at Besitos Gift Shop
                    today.</p>

                <a class="call-to-action" href="/schedule-meeting">Get Started</a>
            </div>

        </div>

    </section>

    <section class="besitos-promise-section">
        <h1>Besitos' Promise</h1>

        <p>At Besitos Gift Shop, our commitment to exceptional customer service and our passion for creating
            meaningful gifts guide us through each step of the process. We strive to make your experience with us
            delightful, ensuring that every detail of your custom gift reflects your unique sentiments and brings
            joy to both you and your recipient.</p>

        <i class="fa-solid fa-arrow-down fa-lg" style="padding-top: 2%; padding-bottom: 1%;"></i>
        <p style="font-size: 16px;"> How it Works</p>

    </section>

{% endblock %}