<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Besitos Gift Shop</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Style+Script">

    <!-- Icons -->
    <link rel="icon" type="image/x-icon" href="../static/icons/kiss.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/1624b53126.js" crossorigin="anonymous"></script>
    <!-- ADS
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8698100342406082"
     crossorigin="anonymous"></script> -->

</head>
<body>
<!-- NAVBAR -->
<ul id="navbar">
    <li class="navbar_item"><a class="navbar_link" href="/contact">Contact</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/about">About</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/">Home</a></li>
    <li class="logo"><a id="logo_link" href="/">Besitos Gift Shop</a></li>
    <li id="navbar_item" class="navbar_item"><a href="/"><img alt="kiss_icon" src="../static/icons/kiss.svg"
                                                              class="besitos_icon"></a></li>
</ul>

<!-- site content -->
<section> {% block content %} {% endblock %} </section>

<ul id="footer">
    <li class="logo"><a class="logo_link_footer" href="/">Besitos Gift Shop</a></li>
    <li class="footer_item">
        <a href="https://www.instagram.com/besitos_gift_shop/?igshid=YmMyMTA2M2Y%3D" class="fa fa-instagram"></a>
    </li>
</ul>
</body>
</html>