{% extends "index.html" %}
{% block content %}

    <form method="POST" action="/schedule-meeting">
        {{ form.hidden_tag() }}

        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}

        <label for="name">Name</label>
        {{ form.name }}

        <label for="date">Date</label>
        <input type="date" id="date" name="date" value="{{ today_string }}" min={{ today_string }}>

        <label for="start_time">Start Time</label>
        <select id="start_time" name="start_time">
            {% set current_hour = current_time.hour %}
            {% set current_minute = current_time.minute %}
            {% for hour in range(8, 21) %}
                {% for minute in ['00', '30'] %}
                    {% set hour_display = (hour - 1) % 12 + 1 %}
                    {% set time_display_min = hour_display ~ ':' ~ minute ~ ' ' ~ ('AM' if hour < 12 else 'PM') %}
                    {% set adjusted_hour = ('0' if hour < 10 else '') ~ hour %}
                    {% set option_value = adjusted_hour ~ ':' ~ minute ~ ':00' %}
                    <option value="{{ option_value }}">{{ time_display_min }}</option>
                {% endfor %}
            {% endfor %}
        </select>

        <label for="agenda">Agenda</label>
        {{ form.agenda }}

        <button type="submit">Schedule Meeting</button>
    </form>

    <script>

        // get the list of time options
        let times = document.getElementById("start_time").options;

        // get current time and date
        let currDateTime = new Date();
        let hours = currDateTime.getHours();
        let minutes = currDateTime.getMinutes();
        let seconds = currDateTime.getSeconds();

        function handleDateChange() {
            // loop through options
            for (let i = 0; i < times.length; i++) {
                // convert string to date object in 24 hour format
                let time_str = (times[i].value).slice(0, -3) + ":00";
                let dateTimeStr = document.getElementById("date").value + " " + time_str;
                let dateTimeObj = new Date(dateTimeStr)

                if (
                    dateTimeObj.getDate() === currDateTime.getDate() &&
                    (currDateTime.getHours() > dateTimeObj.getHours() ||
                        (currDateTime.getHours() === dateTimeObj.getHours() &&
                            currDateTime.getMinutes() >= dateTimeObj.getMinutes()))
                ) {
                    times[i].disabled = true;
                    //alert((currDateTime.getMinutes() + " " + dateTimeObj.getMinutes()));
                } else {
                    times[i].disabled = false;
                }

            }
        }


        // everytime the user picks a date disable appropriate options
        document.getElementById("date").addEventListener('change', handleDateChange);
    </script>
{% endblock %}